@use "../design-system/mixins" as *;
.button {
    @include flexbox(flex, row, center, center);
    position: relative;
    cursor: pointer;
    &:hover {
        &[aria-label]:not(:focus) {
            &:hover::after {
                display: block;
                top: 5rem;
                left: 50%;
                color: white;
                width: max-content;
                position: absolute;
                padding: 1rem 0.5rem;
                border-radius: 0.4rem;
                content: attr(aria-label);
                transform: translate(-50%, 0);
                background: rgba(0, 0, 0, 0.6);
                z-index: 11;
            }
        }
    }
    &__primary {
        padding: 0.8rem;
        border-radius: 2rem;
        background-color: hsl(0, 0%, 98%);
        &--ghost {
            background-color: transparent;
        }
    }

    &__outline {
        $primary: hsl(214, 94%, 43%);

        padding: 0.5rem 1.2rem;
        border-radius: 0.3rem 0.3rem;
        border: 0.1rem solid $primary;
        justify-content: space-between;

        & p {
            color: $primary;
            margin-left: 1rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        & span path {
            fill: $primary;
        }
    }
    &__sumbit {
        $primary: hsl(0, 0%, 83%);
        $background: hsl(0, 0%, 97%);
        $background-hover: hsl(0, 0%, 94%);

        max-height: 4rem;
        padding: 1rem 1.8rem;
        background-color: $background;
        border-radius: 0 0.3rem 0.3rem 0;
        border-left: 0.1rem solid transparent;
        border-top: 0.1rem solid $primary;
        border-right: 0.1rem solid $primary;
        border-bottom: 0.1rem solid $primary;
        &:hover {
            background-color: $background-hover;
            box-shadow: 0 0.1rem 0.1rem hsla(0, 0%, 0%, 0.1);
        }
    }
    &__solid-icon {
        $primary: hsl(0, 0%, 47%);
        $background: hsl(180, 3%, 94%);

        width: 100%;
        gap: 0.7rem;
        color: $primary;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        font-weight: bold;
        border-radius: 0.3rem;
        background-color: $background;
        path {
            fill: $primary;
        }
    }
}
