@use "../design-system/mixins" as *;
.card-video {
    $title: hsl(0, 0%, 0%);
    $description: hsl(0, 0%, 55%);

    max-width: 36rem;
    max-height: 29rem;
    cursor: pointer;
    &:hover {
        max-height: 35.5rem;
        margin-bottom: -7rem;
        background-color: white;
        transition-delay: 1.5s;
        transition-duration: 0.3s;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transform: scale(1.2) translateX(1rem) translateY(1.5rem);
        z-index: 2;
        & > .card-video__actions {
            @include flexbox(flex, row, space-between);
            gap: 1rem;
            opacity: 1;
            width: 100%;
            padding: 1rem;
            height: 5.5rem;
            transition-timing-function: ease-in-out;
            transition-property: height, width, opacity;
            transition-delay: 1.5s;
        }
    }

    &__thumbnail {
        position: relative;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        span {
            bottom: 0.8rem;
            right: 0.5rem;
            color: white;
            background: black;
            font-size: 1.2rem;
            font-weight: bold;
            position: absolute;
            padding: 0.2rem 0.5rem;
            z-index: 1;
        }
    }
    &__details {
        @include flexbox(flex, row, left);
        position: relative;
        padding: 1rem;
        gap: 1rem;

        .details-avatar img {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
        .details-meta {
            @include flexbox(flex, column, left);
            gap: 0.3rem;

            .meta__title {
                color: $title;
                font-size: 1.4rem;
                font-weight: bold;
                max-width: 25rem;
                max-height: 4rem;
                margin-bottom: 0.5rem;
                padding-right: 2.4rem;
            }

            .meta__user {
                @include flexbox(flex, row, flex-start, center);
                font-size: 1.2rem;
                color: $description;
                &__badged {
                    padding-left: 0.5rem;
                    &--disabled {
                        display: none;
                    }
                }
            }
            .meta__info {
                @include flexbox(flex, row, flex-start, center);
                font-size: 1.2rem;
                color: $description;
                & p:nth-child(2) {
                    &:before {
                        content: "•";
                        color: $description;
                        text-shadow: #d9d9d9 0 0 5px;
                        margin: 0 0.4rem;
                    }
                }
            }
        }
        .details-menu {
            display: none;
            right: 0;
            position: absolute;
        }
    }
    &:hover > .card-video__details > .details-menu {
        display: block;
    }
    &__actions {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
    }
}
