@use "../design-system/colors";
@use "../design-system/mixins" as *;
header {
    grid-area: header;
    background-color: map-get(colors.$background, primary);
    .main-navigation {
        @include flexbox(flex, row, flex-start, center);
        height: 100vh;
        max-height: 5.6rem;
        padding-left: 1.4rem;
        padding-right: 2.8rem;
    }
    .main-navigation__home {
        margin-right: auto;
    }

    .main-navigation__search {
        @include flexbox(flex, row);
        width: 100%;
        max-width: 72rem;
        max-height: 4rem;
        margin-right: auto;

        .search-box {
            $border: hsl(0, 0%, 83%);
            $border-active: hsl(240, 100%, 50%);
            $placeholder: hsl(0, 0%, 60%);
            $font: hsl(0, 0%, 0%);

            width: 100%;
            border-radius: 0 0.3rem 0.3rem 0;
            @include flexbox(flex, row);
            padding-right: 2rem;
            position: relative;
            &__input {
                width: 100%;
                height: 100%;
                color: $font;
                font-size: 1.6rem;
                padding: 1.2rem 0.5rem;
                border: 0.1rem solid $border;
                box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.08);
                &:focus {
                    outline: none;
                    padding-left: 3.5rem;
                    border: 0.1rem solid $border-active;
                }
                &:focus ~ .search-box__icon {
                    display: block;
                }
                &::placeholder {
                    font-weight: 500;
                    color: $placeholder;
                }
            }
            &__icon {
                display: none;
                top: 0.8rem;
                left: 0.7rem;
                position: absolute;
            }
        }
    }
    .main-navigation__apps {
        $border: hsl(0, 0%, 90%);
        $background: hsl(0, 0%, 100%);
        $background-hover: hsl(0, 0%, 90%);
        label {
            cursor: pointer;
            width: 100%;
            height: 100%;
        }
        .menu {
            position: relative;
            background-color: $background;
            &__list {
                @include flexbox(flex, column);
                top: 0.5rem;
                left: -1rem;
                width: 20rem;
                margin-top: 0.5rem;
                overflow: hidden;
                position: absolute;
                background-color: $background;
                z-index: 13;
                & li {
                    @include flexbox(flex, row, left, center);
                    width: 100%;
                    padding: 1rem 0.5rem;
                    white-space: nowrap;
                    cursor: pointer;

                    span {
                        padding: 0.5rem 1rem;
                    }
                    &:nth-child(1),
                    &:nth-child(3) {
                        border-bottom: 0.1rem solid $border;
                    }
                    &:hover {
                        background-color: $background-hover;
                    }
                }
            }
        }
        .input-menu {
            &:not(:checked) ~ .menu .menu__list {
                max-height: 0rem;
                box-shadow: none;
                transition: max-height 0.3s ease-in 0s;
            }
            &:checked ~ .menu .menu__list {
                max-height: 22rem;
                transition: max-height 0.3s ease-in 0s;
                border-left: 0.1rem solid $border;
                border-right: 0.1rem solid $border;
                border-bottom: 0.1rem solid $border;
            }
        }
    }
}
