@use "../design-system/mixins" as *;
.tabs__list {
    @include flexbox(flex, row, flex-start, center);
    position: sticky;
    top: 0;
    padding: 2.8rem 2.4rem;
    border-top: 0.1rem solid hsl(0, 0%, 90%);
    border-bottom: 0.1rem solid hsl(0, 0%, 90%);
    background: hsl(0, 0%, 100%);
    height: 100%;
    max-height: 5rem;
    z-index: 10;
    li {
        border-radius: 1.6rem;
        border-width: 1px;
        border-style: solid;
        font-size: 1.4rem;
        padding: 0.6rem 1.2rem;
        cursor: pointer;
        &:nth-child(1) {
            margin-left: 0.8rem;
            background-color: hsl(0, 0%, 0%);
            border-color: hsl(0, 0%, 0%);
            & > a {
                color: hsl(0, 0%, 100%);
            }
        }
        &:not(:nth-child(1)) {
            margin-left: 0.8rem;
            background-color: hsl(0, 0%, 96%);
            border-color: hsl(0, 0%, 75%);
            &:hover {
                background-color: hsl(0, 0%, 90%);
            }
            & > a {
                color: hsl(0, 0%, 0%);
            }
        }
    }
}
