@use "./design-system/colors";
.layout {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 23rem 1fr;
    grid-template-areas:
        "header header header header"
        "aside main main main"
        "aside main main main";
}

main {
    grid-area: main;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    scrollbar-width: thin;
    background-color: map-get(colors.$background, secondary);
    section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
        grid-gap: 5rem 0.5rem;
        padding: 2.5rem 8rem;
    }

    &::-webkit-scrollbar {
        width: 1.4rem;
    }

    &::-webkit-scrollbar-track {
        width: 1.2rem;
        margin-top: -5.3rem;
        background: map-get(colors.$background, primary);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: #606060;
        border: 3px solid map-get(colors.$background, primary);
    }
}

aside {
    grid-area: aside;
    height: 100%;
    background-color: map-get(colors.$background, primary);
}

.logo-container {
    width: 90px;
    height: 20px;
    padding: 0rem 1.6rem;
}
