* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}


html{
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    font-family: Roboto,Noto,sans-serif;
}

ul {
    list-style-type: none;
}

a,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}

th {
    font-weight: 400;
}

button {
    border: none;
    background: none;
}

